<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">
<body>

<span th:fragment="info">
    <a href="#" data-bs-toggle="dropdown"
       component:tooltip-text="Displays information about the current chat">
                            <i class="fa-solid fa-circle-info page-header-icon"></i>
                        </a>
    <div th:replace="~{ fragments/component :: render-dropdown-menu(${chatInfoMenu},'')}"></div>
</span>

<div th:fragment="render-message-info(message)" class="llm-chat-infos clearfix">
    <span class="llm-chat-name float-start" th:text="${chatTools.getUser(message)}"></span>
    <span class="llm-chat-timestamp float-end" th:text="${#formats.format(message.timestamp)}"></span>
</div>

<div th:fragment="render-message(message)" class="llm-chat-msg" th:classappend="${chatTools.getMessageCssClass(message)}">
    <div th:replace="~{ fragments/llm/chat :: render-message-info(${message})}"></div>
    <span class="llm-chat-img"><i th:class="${chatTools.getMessageImageCssClass(message)}"></i></span>
    <div class="llm-chat-text" th:utext="${chatTools.renderMessageText(message)}"></div>
</div>

<div th:fragment="render-messages(chat)" class="llm-chat-messages mx-auto">
    <th:block th:each="message : ${chatTools.getMessages(chat)}">
        <div th:replace="~{ fragments/llm/chat :: render-message(${message})}"></div>
    </th:block>
</div>

<div th:fragment="render-input(chat)" class="llm-chat-input mx-auto">
    <div class="input-group">
        <div contenteditable="true" id="chat-message" class="form-control"></div>
        <span class="input-group-append ms-2">
            <button type="submit" class="btn btn-primary" onclick="Chat.send()">Send</button>
        </span>
    </div>
</div>

</body>
</html>