<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">
<body>
<div th:fragment="fields">
    <div class="container-fluid">
        <div class="row border rounded bg-body-secondary mb-3 p-3 fs-6">
            <div class="row">
                <div class="col-md-12"><span class="fw-bold">Subject: </span><span class="fst-italic" th:text="${model.subject}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-8"><span class="fw-bold">From: </span><span class="fst-italic" th:text="${model.from.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Received at: </span><span class="fst-italic" th:text="${#formats.format(model.receivedAt)}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-8"><span class="fw-bold">To: </span><span class="fst-italic" th:text="${model.to.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Sent at: </span><span class="fst-italic" th:text="${#formats.format(model.sentAt)}"></span></div>
            </div>
            <div class="flex-row m-4 p-2" th:unless="${attachments.isEmpty()}">
                <div th:each="attachment: ${attachments}" th:remove="tag">
                    <a th:href="@{'/protocol/smtp/part/'+${attachment.part.id}+'/download'}" class="icon-link p-2">
                        <span class="badge rounded-pill text-bg-primary"><i class="fa-solid fa-paperclip"></i><span class="ms-1" th:text="${#content.abbreviateMiddle(attachment.part.fileName, 50)}" component:tooltip="${attachment.part.fileName}"></span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row border rounded p-3 mt-2" th:if="${bodyText}">
            <iframe class="w-100 p-3" style="height:500px" loading="lazy" th:src="${#content.getViewUri(bodyText)}"></iframe>
        </div>
        <div class="row border rounded p-3 mt-2" th:if="${bodyHtml}">
            <iframe class="w-100 p-3" style="height:500px" loading="lazy" th:src="${#content.getViewUri(bodyHtml)}"></iframe>
        </div>
    </div>
</div>
</body>
</html>