<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields">
    <div class="container-fluid">
        <div class="row container-fluid border rounded bg-body-secondary mb-3 p-3 fs-6">
            <div class="row">
                <div class="col-md-4"><span class="fw-bold">Name: </span><span class="fst-italic" th:text="${model.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Module ID: </span><span class="fst-italic" th:text="${model.fileName}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Modified At: </span><span class="fst-italic" th:text="${model.getLastModified}"></span></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4"><span class="fw-bold">Type: </span><span class="fst-italic" th:text="${model.type}"></span></div>
                <div class="col-md-6"><span class="fw-bold">File Name: </span><span class="fst-italic" th:text="${model.getOrganization}"></span></div>
            </div>
        </div>
        <div th:replace="~{ fragments/snmp :: imports}"></div>
        <div th:replace="~{ fragments/snmp :: variables}"></div>
    </div>
</div>
</body>
</html>