<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields">
    <div class="container-fluid">
        <div class="row container-fluid border rounded bg-body-secondary mb-3 p-3">
            <div class="row   ">
                <div class="col-md-12"><span class="fw-bold">Subject: </span><span class="fst-italic" th:text="${model.subject}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-8"><span class="fw-bold">From: </span><span class="fst-italic" th:text="${model.from.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Received at: </span><span class="fst-italic" th:text="${model.receivedAt}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-4"><span class="fw-bold">To: </span><span class="fst-italic" th:text="${model.to.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Sent at: </span><span class="fst-italic" th:text="${model.sentAt}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Created at: </span><span class="fst-italic" th:text="${model.createdAt}"></span></div>
            </div>
            <div class="row" th:unless="${attachments.isEmpty()}">
                <a hre="#" th:each="attachment: ${attachments}"><span class="badge rounded-pill text-bg-secondary" th:text="${attachment.part.fileName}"></span></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>