<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="question" th:remove="tag">
    <th:block th:each="message : ${messages}">
        <div th:replace="~{ fragments/llm/chat :: render-message(${message})}"></div>
    </th:block>
</div>

<div th:fragment="dialog" id="chat-modal" tabindex="-1"
     th:class="|modal fade ${modalClasses}|" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body llm-chat">
                <div class="llm-chat-info" th:utext="${content}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm dataset-btn-sm"
                        th:attr="onclick=|Application.closeModal()|">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>