<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="question" th:remove="tag">
    <th:block th:each="message : ${messages}">
        <div th:replace="~{ fragments/llm/chat :: render-message(${message})}"></div>
    </th:block>
</div>

<div th:fragment="dialog" id="chat-modal" tabindex="-1"
     class="modal fade modal-lg" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable llm-dialog hover-scroll">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <div class="d-flex w-100">
                    <h5 class="modal-title flex-grow-1" th:text="${title}"></h5>
                    <div class="p-2">
                        <span th:replace="~{ fragments/llm/chat :: info}"></span>
                        <span th:replace="~{ fragments/dialog :: header-separator}"></span>
                        <span th:replace="~{ fragments/dialog :: header-close}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body llm-chat" th:id="${chat.id}">
                <div class="container-fluid">
                    <div class="row m-2">
                        <div class="llm-chat-body">
                            <div th:replace="~{ fragments/llm/chat :: render-messages(${chat})}"></div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="border-top-2">
                            <div th:replace="~{ fragments/llm/chat :: render-input(${chat})}"></div>
                        </div>
                    </div>
                </div>
                <div id="chat-question" class="d-none" th:utext="${question}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm dataset-btn-sm"
                        th:attr="onclick=|Application.closeModal()|">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="info" id="info-modal" tabindex="-1"
     th:class="|modal fade ${modalClasses}|" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable llm-dialog hover-scroll">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body llm-chat">
                <div th:class="|llm-chat-info ${contentClasses}|" th:utext="${content}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn primary btn-sm dataset-btn-sm"
                        th:attr="onclick=|Application.copyToClipboard('#info-modal .llm-chat-info')|">Copy</button>
                <button type="button" class="btn btn-secondary btn-sm dataset-btn-sm"
                        th:attr="onclick=|Application.closeModal()|">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>