<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>
<section layout:fragment="content">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header border-0 pb-0" th:if="${chat.name}">
                <div class="d-flex justify-content-between">
                    <h3 id="dashboard-title" class="card-title fs-3" th:text="${chat.name}"></h3>
                    <div>
                        <span th:replace="~{ fragments/llm/chat :: info}"></span>
                        <span th:replace="~{ fragments/page :: help}"></span>
                    </div>
                </div>
            </div>
            <div class="card-body llm-chat" th:id="${chat.id}">
                <div class="container-fluid">
                    <div class="row mt-2 gx-2">
                        <div class="col-9 llm-chat-body hover-scroll">
                            <div class="help llm-chat-intro mx-auto" th:utext="${chatIntro}"></div>
                            <div th:replace="~{ fragments/llm/chat :: render-messages(${chat})}"></div>
                        </div>
                        <div class="col-3 llm-chat-list hover-scroll border-start border-2">
                            <div th:replace="~{ fragments/llm/chat :: render-chats(${chats},${chat})}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <div th:replace="~{ fragments/llm/chat :: render-input(${chat})}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>