<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields">
    <div class="container-fluid">
        <div class="row border rounded bg-body-secondary mb-3 p-3 fs-6">
            <div class="row">
                <div class="col-md-8"><span class="fw-bold">From: </span><span class="fst-italic" th:text="${model.address.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Received At: </span><span class="fst-italic" th:text="${#temporals.format(model.receivedAt)}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><span class="fw-bold">Severity: </span><span class="fst-italic" th:text="${#dataset.getDisplayValue(model, 'severity')}"></span></div>
                <div class="col-md-2"><span class="fw-bold">Facility: </span><span class="fst-italic" th:text="${#dataset.getDisplayValue(model, 'facility')}"></span></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"><span class="fw-bold">Send At: </span><span class="fst-italic" th:text="${#temporals.format(model.sentAt)}"></span></div>
            </div>
        </div>
        <div class="row border rounded p-3 mt-2">
            <p class="dataset-text-mono" th:text="${#resources.load(model.message.resource)}" style="height:500px"></p>
        </div>
    </div>
</div>
</body>
</html>