<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields">
    <div class="container-fluid">
        <div class="row border rounded bg-body-secondary mb-3 p-3 fs-6">
            <div class="row">
                <div class="col-md-8"><span class="fw-bold">Event Id: </span>
                    <span class="fst-italic"  th:text="${model.eventId}"></span>
                </div>
                <div class="col-md-4"><span class="fw-bold">Created At: </span><span class="fst-italic" th:text="${#formats.format(model.createdAt)}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><span class="fw-bold">Session: </span><span class="fst-italic" th:text="${model.session.id}"></span></div>
                <div class="col-md-2"><span class="fw-bold">Broker: </span><span class="fst-italic" th:text="${model.broker.name}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Mime Type: </span><span class="fst-italic" th:text="${mimeType}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Received At: </span><span class="fst-italic" th:text="${#formats.format(model.receivedAt)}"></span></div>
            </div>
        </div>
        <div th:unless="${badges.isEmpty()}" class="row border rounded bg-body-secondary mb-3 p-3 fs-6 dataset-attributes">
            <div class="col-md-12 p-5">
            <span th:each="badge : ${badges}" th:class="|badge rounded-pill me-1 name-default ${#dataset.getAttributeClasses(badge)}|">
                <span th:text="${badge.name}"></span><span>:&nbsp;</span>
                <span th:text="${badge.value}"></span>
            </span>
            </div>
        </div>
        <div class="row mb-3 p-3 fs-6">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#event" type="button">Event</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#fields" type="button">Fields</button>
                </li>
            </ul>
            <div class="tab-content h-100 overflow-auto">
                <div class="tab-pane fade show active" id="event" >
                    <iframe class="w-100 pt-3 pb-3" style="height:400px" loading="lazy" th:src="${#content.getViewUri(content)}"></iframe>
                </div>
                <div class="tab-pane fade" id="fields">
                    <table class="table" style="height:400px">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="field : ${fields}">
                            <td th:text="${field.name}"></td>
                            <td>
                                <a th:if="${field.isSingleLine()}" href="#" th:attr="onclick=|Application.Search.queryField('${field.name}','${field.value}', true, true)|"><i class="fa-solid fa-filter"></i></a>
                                <span class="dataset-text-mono" th:text="${field.value}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>